/* Color List
#2B2D42 - Dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/*Global Styles
---------------------------------------*/

html {
    box-sizing: border-box;
} 
*, *:before, *:after {
    box-sizing: inherit;
} /* applies a natural box layout model to all elements, but allowing components to change*/
body {
font-family: 'Open Sans', sans-serif;
margin: 0;
}
h1, h2 {
font-family: 'Caveat', cursive;
font-weight: 400;
}
h1 {
font-size: 80px;
}
h2{
font-size: 40px;
margin-top: 0;
padding-bottom: 30px;
}
h3{
    margin:0;
}
a {
color: darkorange;
}
a:hover {
    text-decoration: none;
}
.content-wrap {
max-width: 950px; /* just width won't re-align the page format when window size is smaller so max-width will take care of it*/
margin: 0 auto;  /*auto aligns content in the middle of the webpage*/
padding: 60px 50px;
overflow: auto; /* if content overflows under the image*/
}

h2, p, ul {
    margin: 0;
}
.uppercase {
    text-transform: uppercase;
}
.btn {
text-decoration: none;
background: #EF233C;
color: white;
padding: 10px;
display: inline-block;
}




/* Header and Footer
----------------------------------------*/

/* Header */
.profile-img {
border-radius: 30%;
}

header {
padding-top: 50px;
/*text-align: left;*/
position: relative;
}

header, footer {
    background: #2B2D42;
    color: #8D99AE;
}
header h1, header h2{
    color: #EDF2F4;
    margin: 0;
}
.download {
position: absolute;
bottom: 0;
right: 0;
    
}

/* Footer*/
footer {
    text-align: center;
}
.contact-info a {
padding: 15px;  /*padding will make the link a full box where the whole box becomes a click-able link*/
display: inline-block;
}


/* Work Experience
----------------------------------------*/
.work {
    background: #EDF2F4;
}
h3 ~ p{
 margin: 0; /* any paragraph following an h3*/
}
.job-description {
    margin-bottom: 25px;
}
.job-description li:first-of-type{
    margin: 0;
}




/* Navigation
----------------------------------------*/
nav {
text-align: center;
background: white;
position: fixed;
top: 0;
width: 100%;
}
nav a{
display: inline-block;
padding: 15px 20px;
text-decoration: none;
text-transform: uppercase;
font-weight: 700;
    z-index: 100px;
}




/* Education
----------------------------------------*/
.education {
    background: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)), url(../Images/Portland.jpg) no-repeat fixed;
background-size: cover;
}
p + h3{
    margin-top: 30px;  /*add margin everytime an h3 follows a paragraph*/
}



/* Media Queries
----------------------------------------*/
@media (min-width: 900px) {
    .narrow-col {
    width: 30%;
    float: left;
    /*min-height: 175px;  makes sure the box for each section of fonts don't overlap but rather keeps organized based on the organization set by us  */   
}
.wide-col{
    width: 70%; 
    float: left;
    padding-left: 20px;
  /*  min-height: 175px; */ 
    
}
    
}

@media (max-width: 899px) {
    header {
        text-align: center;
    }
    .profile-img {
        width: 200px;
    }
}




